
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Catalog</title>
</head>
<body>
    <h4>Homes</h4>
    <hr />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Home List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
                </a>
        </div>
    </div>
    <br /><br />
</div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Number</th>
            <th>Cars</th>
            <th>Address</th>
            <th></th>

        </tr>

    </table>

</body>

@section Scripts{
    <script src="~/js/homes.js"></script>
}