@model GuardingUS2._0.Models.ViewModels.HomeVM



<form method="post" asp-action="Upsert" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-4">
        
            <h2 class="text-primary">@(Model.Home.Id!=0?"Update":"Create") Home</h2>

            <input asp-for="Home.Id" hidden/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Home.Number" class="control-label"></label>
                <input asp-for="Home.Number" class="form-control" />
                <span asp-validation-for="Home.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home.Cars" class="control-label"></label>
                <input asp-for="Home.Cars" class="form-control" />
                <span asp-validation-for="Home.Cars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Home.Address" class="control-label"></label>
                <input asp-for="Home.Address" class="form-control" />
                <span asp-validation-for="Home.Address" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Home.IdUser"></label>
                <select asp-for="Home.IdUser" asp-items="@Model.UserList" class="form-select">
                    <option disabled selected>--Select Category--</option>
                </select>
                <span asp-validation-for="Home.IdUser" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Home.Status" /> @Html.DisplayNameFor(model => model.Home.Status)
                </label>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Home.StartDate" class="control-label"></label>
                <input class="form-control" asp-for="Home.StartDate"  />
                <span asp-validation-for="Home.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Home.ModificationDate" class="control-label"></label>
                <input asp-for="Home.ModificationDate" class="form-control" />
                <span asp-validation-for="Home.ModificationDate" class="text-danger"></span>
            </div>
            <div class="col-12"></div>
            @if (Model.Home.Id != 0)
            {
               <button type="submit" class="btn btn-primary" style="width:150px">Update</button>

            }
            else
            {
               <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>

            }
            <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Back to List
            </a>
            </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</form>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
